<header>
<h1 class="headline_task">
  <%= @user.username %>'s Dashboard
</h1>
<div><%= button_to 'Log out', logout_path, method: :delete, class: "btn btn-warning btn-sm" %></div>
</header>

<table class="table table-striped">
<thead>
  <tr>
    <th>TASK</th>
    <th>DUE DATE</th>
    <th>COMPLETED?</th>
  </tr>
</thead>
<tbody>
   <% @tasks.each do |task| %>

    <tr class="task-wrapper">
      <td> <%= task.content %></td>
      <td> <%= task.due_date.strftime("%x") %></td>
   
      <td> <%= link_to 'Did it!', task, method: :delete, :remote => true, :class => 'delete_task' %> </td>
    </tr>
    <% end %>
</tbody>
</table>



<p><%=button_to 'Add New Task', new_task_path, method: :get, form_class: "new_task" %></p>

<p><%=button_to 'Text Tasks', '/notifications/notify', form_class: "text_task" %> </p>





