<h1 class="headline_task"> Welcome 
  <%= @user.username %>
</h1>
<h1><a href="#" id="alert">Click Here</a></h1>

<table class="table table-striped">
<thead>
  <tr>
    <th>TASK</th>
    <th>DUE DATE</th>
    <th>COMPLETED?</th>
  </tr>
</thead>
<tbody>
   <% @tasks.each do |task| %>

    <tr class="task-wrapper">
      <td> <%= task.content %></td>
      <td> <%= task.due_date.strftime("%A, %B %-d, %Y") %></td>
   
      <td> <%= link_to 'Destroy', task, method: :delete, :remote => true, :class => 'delete_task' %> </td>
    </tr>
    <% end %>
</tbody>
</table>


<p><%=link_to 'Add New Task', new_task_path %> </p>




