<h1 class = "newtask_headline"> Tasks </h1>

<%= form_for @task do |t| %>
  <%= t.label :content %>:
  <%= t.text_field :content %><br />

  <%= t.label :due_date %>
  <%= t.date_field :due_date %><br />

  <%= t.submit %>
<% end %>